{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/registerQna.css' %}">
{% endblock %}
{% block content %}
    <form action="/qna/registerqna/{{room_id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name='room_id' value={{room_id}}>
        <div class="title">Register a Question</div>

        <article class="form-wrap">
            <div class="book-title">
                <h4>책 제목</h4>
                <div>{{book.title}}</div>
            </div>
            <span>*선택사항입니다.</span>
            <div class="book-picture">
                <!-- 등록된 책 사진 불러올 수 있는지.. -->
                
                <h4>관련 이미지</h4>
                <input type="file" name="files" multiple><!-- 사진 백에 전달 -->
            </div>
            <div class="book-info">
                <div class="book-info__chapter">
                    <h4>챕터</h4>
                    <input type="int" name="chapter" min="1" placeholder="10"><!-- 질문 챕터 백에 전달 -->
                    <h5>Chapter</h5>
                </div>
                <div class="book-info__page">
                    <h4>페이지</h4>
                    <input type="int" name="page" min="1" placeholder="100"><!-- 질문 챕터 백에 전달 -->
                    <h5>Page</h5>
                </div>
                <span>*선택사항입니다.</span>
                <div class="book-info__prob-num">
                    <h4>문제 번호</h4>
                    <input type="int" name="qnum" placeholder="1-A"><!-- 문제번호 백에 전달 -->
                    <h5>번</h5>
                </div>
            </div>
            <div class="question-wrap">
                <div class="question-title">
                    <h4>질문 입력</h4>
                    <input type="text" name="questionTitle" placeholder="질문 제목을 입력해주세요."><!-- 질문 제목 백에 전달 -->
                </div>
                <textarea name="content" class="question-content" maxlength="500" cols="80" rows="20" placeholder="궁금한 내용을 자유롭게 질문해주세요.

질문 시 이런 점을 유의해주세요.

    * 개인정보 노출에 유의하세요.
    * 저작권 등 다른 사람의 권리를 침해하거나 명예를 훼손하는 게시물은 
    * 이용약관 및 관련법률에 의해 제재를 받으실 수 있습니다."></textarea><br>
            </div>
        </article>
    
        <aside class="button">
            <div class="submitBtn"><input type="submit" value="등록하기"/></div>
        </aside>
    </form>
{% endblock %}


